<body>
    <h1>Formulaire</h1>
    <div>
        <form action="main.php" method="post">
                                <!--
                                    method="get" URL cahrger, on peut l'envoyer. 
                                                    on peut l'envoyer pour la retrouvee
                                    method="post" URL plus propre
                                -->

            <label for="email" class="form__label">Email</label>
            <input type="email" name="email" placeholder="email" class="form_input" id="subject" />

            <label for="password" class="form__label">Password</label>
            <input type="password" placeholder="password" name="password" class="form_input" id="email" />
            
            <input type="submit" value="submit" />
        </form>
        <!-- il faut passer par localhost -->
    </div>
</body>