<footer>
    <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Magnam eaque odio 
        tenetur iure voluptate aliquam possimus 
        voluptates, ea obcaecati ab placeat maxime
         perspiciatis mollitia dolores voluptatem 
         sed error eos consectetur.</p>
</footer>