<form action="">
    <label for="">Email :</label>
    <input type="email" name="email">

    <label for="">Password :</label>
    <input type="password" name="password">
    <input type="submit">
</form>