<form action="index.php?slug=">
    <label for="">Firstnam :</label>
    <input type="text" name="Firstnam">

    <label for="">Lastname :</label>
    <input type="text" name="Lastname">
    
    <label for="">Email :</label>
    <input type="email" name="email">

    <label for="">Password :</label>
    <input type="password" name="password">
    <input type="submit">
</form>