h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

/*  SETTINGS FORM   */
#SignUpForm{
    background-color: antiquewhite;
    max-width: 600px ;
    border-radius: 20px;
    border: solid 1px #dda800;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin: auto;
}
#SignUpForm form{
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 320px;
}
#SignUpForm form label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    font-size: 1rem;
}
/*  SETTINGS BUTTON   */
#button{
    background-color: #674437;
    color: aliceblue;
    margin: 10px 25%;
    padding: 10px;
    border: 0;
    transition: 0.5s;
}
#button:hover{
    background-color: #dda800;
    box-shadow: 0px 0px 12px #dda800;
}
/*   SETTING INPUT   */
form input {
    background-color: beige;
    color: gray;
    margin: 10px 0px;
    padding: 10px;
    border: solid 1px gray;
}